@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "fontLogo";
  src: url(../assets/fonts/agencyfb_reg.ttf);
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px black;
  overflow: hidden;
  width: 20rem;
}
.card:hover {
  transform: scale(1.1);
  transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}
.card img {
  width: 100%;
  height: 15rem;
}
.card .cardContent {
  padding: 1.25rem;
  background-color: #EDE5D4;
  text-align: center;
}
.card .cardContent h3 {
  text-align: center;
  font-family: "Roboto";
}
.card .cardContent p {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Roboto";
}
.card .cardContent button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #0021A2;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Roboto";
}

form {
  width: 40rem;
  height: 30rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form .formCampo {
  margin-bottom: 20px;
}
form label {
  font-family: "Roboto";
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}
form input[type=text],
form input[type=email],
form input[type=tel],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #dddddd;
  font-family: "Roboto";
}
form textarea {
  resize: vertical;
}
form .botonEnviar {
  padding: 10px 20px;
  background-color: #0021A2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15rem;
}
form .botonEnviar:hover {
  background-color: #1d3fe6;
}

.headerIndex {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/imgFondoIndex.png);
  background-size: cover;
  background-position-x: center;
  column-gap: 20rem;
}
.headerIndex .logo img {
  width: 10rem;
  margin-left: 40rem;
  margin-top: 1.5rem;
}
.headerIndex .logo h1 {
  font-family: "fontLogo";
  font-weight: lighter;
  color: white;
  margin-left: 38rem;
  text-shadow: 1px -1px 9px rgb(0, 0, 0);
}
.headerIndex nav {
  width: 40rem;
  height: 5rem;
  margin-top: 10rem;
}
.headerIndex nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.headerIndex nav ul li:hover {
  transform: scale(1.1);
  transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}
.headerIndex nav ul li a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  text-shadow: 1px 7px 9px rgb(0, 0, 0);
}
.headerIndex nav ul li a:hover {
  color: #000000;
}

.headerProp, .headerContacto, .headerNosotros {
  display: flex;
  width: auto;
  height: 24rem;
  background-image: url(../assets/img/fondoNavPropiedades.png);
  background-size: cover;
  column-gap: 20rem;
}
.headerProp .logo img, .headerContacto .logo img, .headerNosotros .logo img {
  width: 10rem;
  margin-left: 40rem;
  margin-top: 1.5rem;
}
.headerProp .logo h1, .headerContacto .logo h1, .headerNosotros .logo h1 {
  font-family: "fontLogo";
  font-weight: lighter;
  color: white;
  margin-left: 38rem;
  text-shadow: 1px -1px 9px rgb(0, 0, 0);
}
.headerProp nav, .headerContacto nav, .headerNosotros nav {
  width: 40rem;
  height: 5rem;
  margin-top: 10rem;
}
.headerProp nav ul, .headerContacto nav ul, .headerNosotros nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.headerProp nav ul li a, .headerContacto nav ul li a, .headerNosotros nav ul li a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  text-shadow: 1px 7px 9px rgb(0, 0, 0);
}
.headerProp nav ul li a:hover, .headerContacto nav ul li a:hover, .headerNosotros nav ul li a:hover {
  color: #000000;
}

.headerNosotros {
  background-image: url(../assets/img/fondoNavNosotros.png);
}

.headerContacto {
  background-image: url(../assets/img/fondoNavContacto.png);
}

.mainIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}
.mainIndex h2 {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  margin-top: 3rem;
}
.mainIndex .propIndex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mainIndex .propIndex a img {
  width: 30rem;
}
.mainIndex section {
  width: 100%;
  height: 35rem;
  background-image: url(../assets/img/fondoSeccionIndex.png);
  background-size: cover;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainIndex section .misionIndex, .mainIndex section .indicadores {
  width: 35rem;
  height: 20rem;
  background-color: white;
  border: 1px solid black;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mainIndex section .misionIndex img, .mainIndex section .indicadores img {
  width: 4rem;
}
.mainIndex section .misionIndex p, .mainIndex section .indicadores p {
  font-family: "Roboto";
  font-size: 1rem;
}
.mainIndex section .misionIndex a button, .mainIndex section .indicadores a button {
  width: 8rem;
  height: 2.5rem;
  background-color: black;
  color: white;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: lighter;
}
.mainIndex section .misionIndex a button:active, .mainIndex section .indicadores a button:active {
  background-color: #7c7c7c;
}
.mainIndex section .indicadores {
  margin-right: 5rem;
}
.mainIndex section .indicadores .botonIndicadores {
  width: 9rem;
  height: 2.5rem;
  background-color: black;
  color: white;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  line-height: 2.5rem;
}
.mainIndex section .indicadores div p {
  font-family: "Roboto";
  font-weight: bolder;
  margin: 1rem;
}

.contenedorProp {
  display: grid;
  height: auto;
  row-gap: 3rem;
  margin: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.mainNosotros {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainNosotros p {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: auto;
}
.mainNosotros img {
  width: 5rem;
  margin-top: 10rem;
}

.mainContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  row-gap: 3rem;
}
.mainContacto p {
  font-family: "Roboto";
  margin-top: 3rem;
}

footer {
  width: 100%;
  height: 14rem;
  background-color: #7c7c7c;
  display: flex;
  justify-content: space-around;
}
footer .footerCorpo p {
  font-family: "Roboto";
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #EDE5D4;
  margin-top: 3rem;
}
footer .footerCorpo div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
footer .footerCorpo div a {
  text-decoration: none;
  margin-top: 0.5rem;
  color: white;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1.3px;
}
footer .footerProp p {
  font-family: "Roboto";
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #EDE5D4;
  margin-top: 3rem;
}
footer .footerProp div {
  margin-top: 1.3rem;
}
footer .footerProp div p {
  margin-top: 0.5rem;
  color: white;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1.3px;
}
footer .footerContacto p {
  font-family: "Roboto";
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #EDE5D4;
  margin-top: 3rem;
}
footer .footerContacto div {
  margin-top: 1.3rem;
}
footer .footerContacto div p {
  margin-top: 0.5rem;
  color: white;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1.3px;
}
footer .footerContacto div div {
  display: flex;
}
footer .footerContacto div div img {
  width: 1.5rem;
  margin-right: 1rem;
}

.lineaVertical {
  width: 2px;
  height: 150px;
  background-color: white;
  margin-top: 2.5rem;
}

@media (max-width: 2150px) {
  .headerIndex {
    column-gap: 10rem;
  }
  .headerIndex .logo img {
    margin-left: 30rem;
  }
  .headerIndex .logo h1 {
    margin-left: 28rem;
  }
  .headerProp, .headerNosotros, .headerContacto {
    column-gap: 10rem;
  }
  .headerProp .logo img, .headerNosotros .logo img, .headerContacto .logo img {
    margin-left: 30rem;
  }
  .headerProp .logo h1, .headerNosotros .logo h1, .headerContacto .logo h1 {
    margin-left: 28rem;
  }
}
@media (max-width: 1600px) {
  .headerIndex {
    column-gap: 10rem;
  }
  .headerIndex .logo img {
    margin-left: 15rem;
  }
  .headerIndex .logo h1 {
    margin-left: 13rem;
  }
  .headerProp, .headerNosotros, .headerContacto {
    column-gap: 10rem;
  }
  .headerProp .logo img, .headerNosotros .logo img, .headerContacto .logo img {
    margin-left: 15rem;
  }
  .headerProp .logo h1, .headerNosotros .logo h1, .headerContacto .logo h1 {
    margin-left: 13rem;
  }
  .propIndex {
    column-gap: 1rem;
    row-gap: 2rem;
  }
}
@media (max-width: 1300px) {
  .headerIndex {
    column-gap: 1rem;
  }
  .headerIndex .logo img {
    margin-left: 10rem;
  }
  .headerIndex .logo h1 {
    margin-left: 8rem;
  }
  .headerProp, .headerNosotros, .headerContacto {
    column-gap: 1rem;
  }
  .headerProp .logo img, .headerNosotros .logo img, .headerContacto .logo img {
    margin-left: 10rem;
  }
  .headerProp .logo h1, .headerNosotros .logo h1, .headerContacto .logo h1 {
    margin-left: 8rem;
  }
}
@media (max-width: 1024px) {
  .contenedorProp {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .propIndex {
    row-gap: 2rem;
    column-gap: 2rem;
  }
}
@media (max-width: 1024px) {
  .headerIndex {
    background-color: black;
  }
}

/*# sourceMappingURL=style.css.map */
