@media (max-width:1300px) {        
    .headerIndex {        
        column-gap: 1rem;        
        .logo{
            img{
                margin-left: 10rem;
            }
            h1{
                margin-left: 8rem;
            }
        }
    }

    .headerProp{
        column-gap: 1rem;        
        .logo{
            img{
                margin-left: 10rem;
            }
            h1{
                margin-left:8rem;
            }
        }
    }
};