@media (max-width:2150px) {        
    .headerIndex {        
        column-gap: 10rem;        
        .logo{
            img{
                margin-left: 30rem;
            }
            h1{
                margin-left: 28rem;
            }
        }
    }

    .headerProp{
        column-gap: 10rem;        
        .logo{
            img{
                margin-left: 30rem;
            }
            h1{
                margin-left: 28rem;
            }
        }
    }
};
