.headerProp{
    display: flex;    
    width: auto;
    height: 24rem;
    background-image: url(../assets/img/fondoNavPropiedades.png);
    background-size: cover;

    .logo {

        img {
            width: 10rem;
            margin-left: 27rem;
            margin-top: 1.5rem;
        };

        h1 {
            font-family: "fontLogo";
            font-weight: lighter;
            color: white;
            margin-left: 25rem;
            text-shadow: 1px -1px 9px rgba(0, 0, 0, 1);
        };
    };

    nav{
        width: 40rem;
        height: 5rem;
        margin-top: 10rem;
        margin-left:16rem;
        ul{
            display: flex;            
            justify-content: space-between;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    font-family: "Roboto";
                    font-weight: bold;
                    font-size: 1.3rem;
                    color: white;
                    text-shadow: 1px 7px 9px rgba(0,0,0,1);
                    &:hover {
                        color: #000000;
                    };
                };
            };
        };
        
    };

};